<div class="" layout="row">
  <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
  <div layout="row" layout-margin>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" layout-margin>
      <div style="width: 100%">
        <div id="pie-chart" ng-init="expenseCtrl.renderChart()">
        </div>
      </div>
    </div>
  </div>
  <div layout="row" layout-margin>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" layout-margin>
      <div style="width: 100%">
        <div id="bar-chart" ng-init="expenseCtrl.renderChart()">
        </div>
      </div>
    </div>
  </div>

</div>
